--Linked in --
İş ilanı hakkında
Primary Location

Türkiye-Izmir

NATO Body

Headquarters Allied Land Command (HQ LANDCOM)

Schedule

Full-time

Salary (Pay Basis)

52,159.89

LANDCOM INTERNSHIP PROGRAMME 2027

Following Commander Allied Land Command guidance, an Internship Program to provide current students and most recent graduates  with the opportunity to intern at LANDCOM is to be introduced. Interns will benefit from the program by gaining an understanding of an international organization, while adding to their Curriculum Vitae. The LANDCOM Internship Program (LIP) focuses on highly motivated candidates from a wide variety of disciplines including: political science, international relations, security studies, law, economics, engineering, logistics, human resources, financial administration, accounting/auditing, information technology, language service, journalism, and media communications. The LIP is part of Commander Allied Land Command larger campaign to elevate and improve LANDCOM visibility.

CANDIDATES

LIP Will Be Available For The Following Periods

 6 months internship program as part of, or complementary to a university degree program.
 6 months internship for, in principle, recent Bachelor graduated students who are interested in a specific project that can be of support for a Master graduation program.
 6 months internship program for, in principle, recent Master or PhD graduated students (graduated less than 6 months ago) who are looking for work experience in an international organization as a first step to an international career.

The closing date to submit an application for internship is as follows:

Applications for an internship shall reach LANDCOM no later than 30 August 2026. As a result of the selection process pending the completion of necessary formalities required to work at NATO (security clearance, visas etc.) you will be invited.

To qualify for an internship, the applicant must meet the following eligibility criteria:

 All applicants for an internship must be a citizen of a NATO member nation.
 A certificate given by the University stating that an internship on their subjects of study is necessary for their professional development.
 Applicants must be proficient in the use of the English language.
 Applicants must have at least two years of successful university study or equivalent. The program is open to current students or recent graduates (degree obtained within the last 18 months).

CONDITIONS OF INTERNSHIP

LANDCOM will provide interns with 52,026.50TRY net as a monthly lump sum to cover their stay, travel and subsistence. Selected interns are responsible for their accommodation and work permit arrangements. Travel tickets to and from Türkiye to their residence where they came from will be reimbursed up to total amount of 1200EUR.

Interns are required to have social insurance coverage including health care,  and this must be documented during the in-processing, and take care of formalities with the Turkish authorities regarding their stay in Türkiye.

How To Apply

Allied Land Command uses NATO Talent Acquisition Platform. In order to apply for the internship, please visit the platform at: https://nato.taleo.net/careersection/2/jobsearch.ftl?lang=en and search for vacancies within Land Command HQ.

A copy of the candidate's one page summary CV must be attached to the application. In addition, all interns have to submit a one-page essay giving details on their motivation for an internship at LANDCOM and on their expectations during the internship.

Once a candidate has been selected, the start date of the internship period will be determined taking into account divisional needs, the availability of the selected candidate, and the security requirements.

DETAILS of the INTERNSHIP - Directorate of Management (Protocol and Conference Services)

Details Of Project

The Protocol and Conference Services Branch is responsible for the planning, coordination and arrangements necessary to support conferences, VIP visits and senior level meetings at the HQ and, where appropriate, at subordinate formations. It especially deals with protocol affairs for ceremonies, conferences, meetings and official visits of VIPs to HQ and/or deployed HQ elements. Plans and executes all protocol arrangements for DVs to CG. It liaises with counterparts for incoming and outgoing visits. The office is also in charge of the HQ hospitality budget. The Protocol Section Head provides advice to the wide range of protocol matters and provides specific advice on their implications for the conduct of LANDCOM missions.

Expected Deliverable(s)

 Assists in all protocol tasks during planning, preparation and execution.
 Develops and maintains a Command Group Database which includes key military, political and social contact information and visitor lists with correct name/title/address/contact information for official functions.
 Coordinate all incoming visits including branch level and national visits.
 Deals with security related issues in regards of visitor's lists in house and deployed, keeps track of VIP badges from HQ Security.
 Escorts visitors on request.
 Co-ordinates conference room support services.
 Drafts military and non-military correspondence messages, orders, recurring and special reports, requisitions, forms, regulations/directives and related documents.
 Works as part of a project team or being a member of a working group as directed.
 Submits maintenance work orders as required, including office and communication equipment and supply.
 Must be suitably presentable for business.

Type Of Background/Education Required

Secondary education and basic training in Tourism and Hotel Management, Public Relations, Business Administrations, International Relations disciplines.

 English - SLP 2222 - (Listening - Speaking - Reading - Writing)
 Basic knowledge of Microsoft Office Programs

NOTE: The work both oral and written in this post and in this Headquarters as a whole is conducted mainly in English and proficiency is a critical requirement.



-- nato.taleo.net --

Job Description - INTERNSHIP 2027-Directorate of Management (Protocol and Conference Services) (261258)
 
INTERNSHIP 2027-Directorate of Management (Protocol and Conference Services)-261258
 
Primary Location Türkiye-Izmir
NATO Body Headquarters Allied Land Command (HQ LANDCOM)
Schedule Full-time
Application Deadline 
Salary (Pay Basis) : 52,159.89 Turkish Lira (TRY) Monthly
Grade INTERN
 
Description: 
 
LANDCOM INTERNSHIP PROGRAMME 2027

Following Commander Allied Land Command guidance, an Internship Program to provide current students and most recent graduates with the opportunity to intern at LANDCOM is to be introduced. Interns will benefit from the program by gaining an understanding of an international organization, while adding to their Curriculum Vitae. The LANDCOM Internship Program (LIP) focuses on highly motivated candidates from a wide variety of disciplines including: political science, international relations, security studies, law, economics, engineering, logistics, human resources, financial administration, accounting/auditing, information technology, language service, journalism, and media communications. The LIP is part of Commander Allied Land Command larger campaign to elevate and improve LANDCOM visibility.

CANDIDATES

LIP will be available for the following periods:

·         6 months internship program as part of, or complementary to a university degree program.

·         6 months internship for, in principle, recent Bachelor graduated students who are interested in a specific project that can be of support for a Master graduation program.

·         6 months internship program for, in principle, recent Master or PhD graduated students (graduated less than 6 months ago) who are looking for work experience in an international organization as a first step to an international career.

The closing date to submit an application for internship is as follows:

Applications for an internship shall reach LANDCOM no later than 30 August 2026. As a result of the selection process pending the completion of necessary formalities required to work at NATO (security clearance, visas etc.) you will be invited.

To qualify for an internship, the applicant must meet the following eligibility criteria:

·         All applicants for an internship must be a citizen of a NATO member nation.

·         A certificate given by the University stating that an internship on their subjects of study is necessary for their professional development.

·         Applicants must be proficient in the use of the English language.

·         Applicants must have at least two years of successful university study or equivalent. The program is open to current students or recent graduates (degree obtained within the last 18 months).

CONDITIONS OF INTERNSHIP

LANDCOM will provide interns with 52,026.50TRY net as a monthly lump sum to cover their stay, travel and subsistence. Selected interns are responsible for their accommodation and work permit arrangements. Travel tickets to and from Türkiye to their residence where they came from will be reimbursed up to total amount of 1200EUR.

Interns are required to have social insurance coverage including health care, and this must be documented during the in-processing, and take care of formalities with the Turkish authorities regarding their stay in Türkiye.

HOW TO APPLY:

Allied Land Command uses NATO Talent Acquisition Platform. In order to apply for the internship, please visit the platform at:  https://nato.taleo.net/careersection/2/jobsearch.ftl?lang=en and search for vacancies within Land Command HQ.

 

A copy of the candidate's one page summary CV must be attached to the application. In addition, all interns have to submit a one-page essay giving details on their motivation for an internship at LANDCOM and on their expectations during the internship.

 

Once a candidate has been selected, the start date of the internship period will be determined taking into account divisional needs, the availability of the selected candidate, and the security requirements.

 

DETAILS of the INTERNSHIP - Directorate of Management (Protocol and Conference Services)

DETAILS OF PROJECT:

The Protocol and Conference Services Branch is responsible for the planning, coordination and arrangements necessary to support conferences, VIP visits and senior level meetings at the HQ and, where appropriate, at subordinate formations. It especially deals with protocol affairs for ceremonies, conferences, meetings and official visits of VIPs to HQ and/or deployed HQ elements. Plans and executes all protocol arrangements for DVs to CG. It liaises with counterparts for incoming and outgoing visits. The office is also in charge of the HQ hospitality budget. The Protocol Section Head provides advice to the wide range of protocol matters and provides specific advice on their implications for the conduct of LANDCOM missions.

EXPECTED DELIVERABLE(S):

• Assists in all protocol tasks during planning, preparation and execution.

• Develops and maintains a Command Group Database which includes key military, political and social contact information and visitor lists with correct name/title/address/contact information for official functions.

• Coordinate all incoming visits including branch level and national visits.

• Deals with security related issues in regards of visitor's lists in house and deployed, keeps track of VIP badges from HQ Security.

• Escorts visitors on request.

• Co-ordinates conference room support services.

• Drafts military and non-military correspondence messages, orders, recurring and special reports, requisitions, forms, regulations/directives and related documents.

• Works as part of a project team or being a member of a working group as directed.

• Submits maintenance work orders as required, including office and communication equipment and supply.

• Must be suitably presentable for business.

TYPE OF BACKGROUND/EDUCATION REQUIRED:

Secondary education and basic training in Tourism and Hotel Management, Public Relations, Business Administrations, International Relations disciplines.

• English - SLP 2222 - (Listening - Speaking - Reading - Writing)

• Basic knowledge of Microsoft Office Programs

NOTE: The work both oral and written in this post and in this Headquarters as a whole is conducted mainly in English and proficiency is a critical requirement.