INTERNSHIP 2027-G1 (Civilian Human Resources Branch)-261244
 
Primary Location Türkiye-Izmir
NATO Body Headquarters Allied Land Command (HQ LANDCOM)
Schedule Temporary
Application Deadline 31-Aug-2026, 12:59:00 AM
Salary (Pay Basis) : 52,159.89Turkish Lira (TRY) Monthly
Grade INTERN
 
Description: 
 
LANDCOM INTERNSHIP PROGRAMME 2027
Following Commander Allied Land Command guidance, an Internship Program to provide current
students and most recent graduates with the opportunity to intern at LANDCOM is to be introduced.
Interns will benefit from the program by gaining an understanding of an international organization, while
adding to their Curriculum Vitae. The LANDCOM Internship Program (LIP) focuses on highly motivated
candidates from a wide variety of disciplines including: political science, international relations, security
studies, law, economics, engineering, logistics, human resources, financial administration,
accounting/auditing, information technology, language service, journalism, and media communications.
The LIP is part of Commander Allied Land Command larger campaign to elevate and improve LANDCOM
visibility.
CANDIDATES
LIP will be available for the following periods:
·         6 months internship program as part of, or complementary to a university degree program.
·         6 months internship for, in principle, recent Bachelor graduated students who are interested in a
specific project that can be of support for a Master graduation program.
·         6 months internship program for, in principle, recent Master or PhD graduated students (graduated
less than 6 months ago) who are looking for work experience in an international organization as a first
step to an international career.
The closing date to submit an application for internship is as follows:
Applications for an internship shall reach LANDCOM no later than 30 August 2026. As a result of the
selection process pending the completion of necessary formalities required to work at NATO (security
clearance, visas etc.) you will be invited.
To qualify for an internship, the applicant must meet the following eligibility criteria:
·         All applicants for an internship must be a citizen of a NATO member nation.
·         A certificate given by the University stating that an internship on their subjects of study is necessary for
their professional development.
·         Applicants must be proficient in the use of the English language.
·         Applicants must have at least two years of successful university study or equivalent. The program is
open to current bachelor`s students or recent graduates (degree obtained within the last 18
months).
CONDITIONS OF INTERNSHIP
LANDCOM will provide interns with 52,026.50TRY net as a monthly lump sum to cover their stay, travel
and subsistence. Selected interns are responsible for their accommodation and work permit
arrangements. Travel tickets to and from Türkiye to their residence where they came from will be
reimbursed up to total amount of 1200EUR.
Interns are required to have social insurance coverage including health care, and this must be
documented during the in-processing and take care of formalities with the Turkish authorities regarding
their stay in Türkiye.
HOW TO APPLY:
Allied Land Command uses NATO Talent Acquisition Platform. In order to apply for the internship, please
visit the platform at:  https://nato.taleo.net/careersection/2/jobsearch.ftl?lang=en and search for vacancies
within Land Command HQ.
A copy of the candidate's one page summary CV must be attached to the application. In addition, all
interns have to submit a one-page essay giving details on their motivation for an internship at
LANDCOM and on their expectations during the internship.
Once a candidate has been selected, the start date of the internship period will be determined taking into
account divisional needs, the availability of the selected candidate, and the security requirements.
DETAILS of the INTERNSHIP – Civilian Human Resources Branch
DETAILS OF PROJECT:
Civilian Human Resources Branch is responsible for the human resources (HR) management procedures
and the administration of civilian personnel appointed to Land Command (LANDCOM). The management
and administration actions are conducted in accordance with NATO Civilian Personnel Regulations
(NCPR) and LANDCOM Directives.
EXPECTED DELIVERABLE(S):
·       Contributes to preparation, coordination and execution of civilian personnel procedures.
·        Assists the execution of HR admin operations such as filing, record updating etc.
·        Makes coordination with the relevant stakeholders for completing civilian personnel files.
·        Support civilian recruitment processes (there is a great number of recruitment processes initiated
for various personnel groups).
·        Creates/distributes documents.
TYPE OF BACKGROUND/EDUCATION REQUIRED:
Applicants must have obtained a first degree preferably in Human Resources or any other related field,
along with demonstrated experience or interest in areas concerning human resources, personnel and
document management, and administration.
Additional skills such as editing/writing documents, basic MS Office skills (Excel, Word, Outlook,
PowerPoint), fluency in English (Listening, Speaking, Writing and Reading) are also required.
Applicants need to possess a suitable civilian profile (no criminal record, etc.) in order to obtain a NATO
SECRET clearance as the system of record resides on the classified network
 
 
Apply Add to My Job Cart
 
Job 4 out of 10Previous|1 2 3 4 5 |Next
| Advanced Search | All Jobs Search
INTERNSHIP 2027-G1 (Civilian Human Resources Branch)-261244